div {
    font: 12px "华文宋体";
    color: blue;
}

p {
    color: aquamarine;
}

span {
    font-size: 100px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

a:link {
    font-size: 12px;
    color: #333333;
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
}

a:active {
    color: blueviolet;
}

/*li:nth-last-child(even) {*/
/*color: blue;*/
/*}*/

/*li:nth-child(odd) {*/
/*color: red;*/
/*}*/

/*li:nth-last-of-type(even) {*/
/*color: blueviolet;*/
/*}*/

li:nth-of-type(even){
    color: red;
}